<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:red;">Welcome Mr.:<%= @user.username %></h1>
    <p>
      liked on your Post<br>
    </p>

      ____________________________________<br>
      Your Post Title is: <%= @post.title %>.<br>
      User Emai Id: <%= @user.email%><br>
      ____________________________________<br>
    <p>Thanks have a great day!</p>
  </body>
</html>
